*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#navbar{
    background-color: rgba(11, 7, 7, 0.766);
    height: 70px;
    width: 100%;
}
#navbar .container ,#productsBlock .container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: inherit;
    justify-content: space-between;
}
.container ul{
    display: flex;
    list-style: none;
    gap: 10px;
}
.container ul li a{
    color: yellow;
    text-decoration: none;
    padding: 10px 20px;
}
.logoBlock{
    color: #fff;
}
sup{
    background: #111;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
}