*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #efefef;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.flex{
    width: 90%;
    background-color: #fff;
    gap: 10px;
    display: flex;
    margin: 10px auto;
}
.flex >div{
    flex: 1;
    border: 1px solid #c69c9c;
    padding: 10px;
}